* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}


textarea {
    margin-top: 30px;
}

.tags {
    display: flex;
    gap: 10px;
}



.tag {
    display: flex;
    border-radius: 40%;
    justify-content: center;
    padding: 10px;
    background-color: yellow;
}

.highlight {
    background-color: rgb(27, 143, 35);

}